<ion-view view-title="register module" >
  <!-- do you want padding? -->
  <ion-content class="padding" >

    <!-- content goes here -->
		
		<form name="form" ng-submit="vm.login()" class="formValidate" novalidate>
			<h2 ng-bind="vm.data.title"></h2>
			<div class="list">
				<label class="item item-input item-floating-label" ng-class="{ 'has-error' : form.username.$dirty && form.username.$error.required}">
				  <span class="input-label">{{vm.data.username.title}}</span>
				  <input type="text" placeholder="{{vm.data.username.placeholder}}" name="username" id="username" ng-model="vm.username" required>
				</label>
				<div class="error-container" ng-show="form.username.$dirty && form.username.$error.required" ng-messages="form.username.$error">
				  <div ng-messages-include="error-list-simple.html"></div>
				</div>

				<label class="item item-input item-floating-label" ng-class="{ 'has-error' : form.password.$dirty && form.password.$error.required}">
				  <span class="input-label">{{vm.data.password.title}}</span>
				  <input type="password" placeholder="{{vm.data.password.placeholder}}" name="password" id="password" ng-model="vm.password" required>
				</label>
				<div class="error-container" ng-show="form.password.$dirty && form.password.$error.required" ng-messages="form.password.$error">
				  <div ng-messages-include="error-list-simple.html"></div>
				</div>
				
				<div class="button-bar">
					<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="button button-positive">Login</button>
					<a ui-sref="register" class="button button-positive">{{vm.data.btnRegister}}</a>
					<a ui-sref="recover" class="button button-positive">{{vm.data.btnRecover}}</a>
					<a ng-click="vm.clear()" class="button button-positive">{{vm.data.btnReset}}</a>
				</div>
				<ul class="list">
				  <li class="item item-toggle">
					 {{vm.data.btnRemember}}
					 <label class="toggle toggle-positive">
					   <input type="checkbox" ng-checked="vm.remembered" ng-click="vm.changeRemember()">
					   <div class="track">
						 <div class="handle"></div>
					   </div>
					 </label>
				  </li>
				</ul>
			</div>
		</form>

  </ion-content>
</ion-view>
<script id="error-list-simple.html" type="text/ng-template">
	<div class="error" ng-message="date">
		<i class="ion-information-circled"></i> 
		Data inválida
	</div>
	<div class="error" ng-message="required">
		<i class="ion-information-circled"></i> 
		Campo Obrigatório!
	</div>
	<div class="error" ng-message="minlength">
		<i class="ion-information-circled"></i> 
		Muito curto
	</div>
	<div class="error" ng-message="maxlength">
		<i class="ion-information-circled"></i> 
		Muito longo
	</div>
	<div class="error" ng-message="cpf">
		<i class="ion-information-circled"></i> 
		Informe CPF válido
	</div>
	<div class="error" ng-message="customAsyncUserExist">
		<i class="ion-information-circled"></i> 
		Usuário já cadastrado!
	</div>
	<div class="error" ng-message="customAsyncUserExistLoading">
		<i class="ion-information-circled"></i> 
		Verificando Usuário...
	</div>
</script>