<ion-view view-title="register module">
  <!-- do you want padding? -->
  <ion-content class="padding-top">

    <!-- content goes here -->
<p>&nbsp;</p>
		<form name="form" ng-submit="vm.register()" novalidate>
			<h2>Register</h2>
			<label class="item item-input item-floating-label" ng-class="{ 'has-error' : form.firstName.$dirty && form.firstName.$error.required}">
				  <span class="input-label">{{vm.data.firstName.title}}</span>
				  <input type="text" placeholder="{{vm.data.firstName.placeholder}}" name="firstName" id="firstName" ng-model="vm.user.firstName" required>
			</label>
			<div class="error-container" ng-show="form.firstName.$dirty && form.firstName.$error.required" ng-messages="form.firstName.$error">
				  <div ng-messages-include="error-list-simple.html"></div>
			</div>
			
			<label class="item item-input item-floating-label" ng-class="{ 'has-error' : form.lastName.$dirty && form.lastName.$error.required}">
				  <span class="input-label">{{vm.data.lastName.title}}</span>
				  <input type="text" placeholder="{{vm.data.lastName.placeholder}}" name="lastName" id="lastName" ng-model="vm.user.lastName" required>
			</label>
			<div class="error-container" ng-show="form.lastName.$dirty && form.lastName.$error.required" ng-messages="form.lastName.$error">
				  <div ng-messages-include="error-list-simple.html"></div>
			</div>
			
			<label class="item item-input item-floating-label" ng-class="{ 'has-error' : form.username.$dirty && form.username.$error.required}">
				  <span class="input-label">{{vm.data.username.title}}</span>
				  <input type="text" placeholder="{{vm.data.username.placeholder}}" name="username" id="username" ng-model="vm.user.username" required>
			</label>
			<div class="error-container" ng-show="form.username.$dirty && form.username.$error.required" ng-messages="form.username.$error">
				  <div ng-messages-include="error-list-simple.html"></div>
			</div>
			
			<label class="item item-input item-floating-label" ng-class="{ 'has-error' : form.password.$dirty && form.password.$error.required}">
			  <span class="input-label">{{vm.data.password.title}}</span>
			  <input type="password" placeholder="{{vm.data.password.placeholder}}" name="password" id="password" ng-model="vm.user.password" required>
			</label>
			<div class="error-container" ng-show="form.password.$dirty && form.password.$error.required" ng-messages="form.password.$error">
			  <div ng-messages-include="error-list-simple.html"></div>
			</div>
			<div class="button-bar">
				<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="button button-positive">Register</button>
				<a href="#/login" class="button button-assertive">Cancel</a>
			</div>
		</form>

  </ion-content>
</ion-view>
<script id="error-list-simple.html" type="text/ng-template">
	<div class="error" ng-message="date">
		<i class="ion-information-circled"></i> 
		Data inválida
	</div>
	<div class="error" ng-message="required">
		<i class="ion-information-circled"></i> 
		Campo Obrigatório!
	</div>
	<div class="error" ng-message="minlength">
		<i class="ion-information-circled"></i> 
		Muito curto
	</div>
	<div class="error" ng-message="maxlength">
		<i class="ion-information-circled"></i> 
		Muito longo
	</div>
	<div class="error" ng-message="cpf">
		<i class="ion-information-circled"></i> 
		Informe CPF válido
	</div>
	<div class="error" ng-message="customAsyncUserExist">
		<i class="ion-information-circled"></i> 
		Usuário já cadastrado!
	</div>
	<div class="error" ng-message="customAsyncUserExistLoading">
		<i class="ion-information-circled"></i> 
		Verificando Usuário...
	</div>
</script>