<ion-view view-title="login backand module">
  <!-- do you want padding? -->
  <ion-content class="padding">

	<h1 ng-show="currentUser.isAuthorized">{{currentUser.firstName}}</h1>
	<h2 ng-show="currentUser.isAuthorized">
	<button class="button button-assertive ion-power" ng-click="vm.signout()" type="button" ng-show="currentUser.isAuthorized"> {{currentUser.username}}</button>
	</h2>
    <!-- content goes here -->
	<p>&nbsp;</p>

	<div ng-show="currentUser.isAuthorized">
	<h3>Account</h3>
		<div class="list card">
		  <div class="item item-avatar">
			<img ng-src="img/profile.jpg">
			<h2>{{currentUser.username}}</h2>
			<p>User cod: {{currentUser.userId}}</p>
		  </div>

		  <div class="item item-body">
			<img class="full-image" src="img/profile-full.jpg">
			<p>
			  {{currentUser.firstName}} - {{currentUser.lastName}}
			</p>
		  </div>

		</div>
		<div class="button-bar" >
			<button class="button button-block button-positive" ng-click="vm.updateAccountGo()">
				Update Account
			</button>
			<a class="button button-block button-assertive" ng-click="vm.updatePasswordGo()">
				Password Update
			</a>
		</div>
	</div>
	
	
	<form ng-submit="vm.signin()" ng-hide="currentUser.isAuthorized">
		<div class="list">
			<label class="item item-input">
				<input id="email" name="email" type="email" placeholder="Your email" ng-model="vm.email">
			</label>
			<label class="item item-input">
				<input id="password" name="password" type="password" placeholder="Your password" ng-model="vm.password">
			</label>
		</div>
		<div class="button-bar" >
			<button class="button button-block button-positive" type="submit">
				Login
			</button>
			<a class="button button-block button-calm" ng-click="vm.signUpGo()">
				Sign up
			</a>
		</div>
	</form>
	<p>&nbsp;</p>
	<div class="button-bar" ng-hide="currentUser.isAuthorized">
		<button class="button button-positive icon-left ion-social-facebook" ng-click="vm.socialSignin('facebook')" type="button">
			Facebook
		</button>
		<button class="button button-dark icon-left ion-social-facebook ion-social-github" ng-click="vm.socialSignin('github')" type="button">
			Github
		</button>
		<button class="button button-assertive icon-left ion-social-googleplus" ng-click="vm.socialSignin('google')" type="button">
			Google+
		</button>
	</div>
	
	<h1>Login: {{currentUser.isAuthorized}}</h1>
  </ion-content>
</ion-view>
