<ion-view view-title="update password backand module">
  <!-- do you want padding? -->
  <ion-content class="padding">
	<h1 ng-show="isAuthorized">{{firstName}}</h1>
	<h2 ng-show="isAuthorized">
	<button class="button button-assertive ion-power" ng-click="vm.signout()" type="button" ng-show="isAuthorized"> - {{username}}</button>
	</h2>
    <!-- content goes here -->
	<p>&nbsp;</p>
	<form ng-submit="vm.updatePassword()" ng-show="isAuthorized">
		<div class="list">
			<label class="item item-input">
				<input id="email" name="email" type="email" placeholder="Your email" ng-model="username" ng-disabled="true">
			</label>
			<label class="item item-input">
				<input id="password" name="passwordCurrent" type="password" placeholder="Your password Current" ng-model="vm.passwordCurrent">
			</label>
			<label class="item item-input">
				<input id="password" name="passwordNew" type="password" placeholder="Your password New" ng-model="vm.passwordNew">
			</label>
		</div>
		<div class="button-bar" >
			<button class="button button-block button-positive" type="submit">
				Update Password
			</button>
		</div>
	</form>

  </ion-content>
</ion-view>
