<ion-view view-title="update password backand module">
  <!-- do you want padding? -->
  <ion-content class="padding">
	<h1 ng-show="isAuthorized">{{firstName}}</h1>
	<h2 ng-show="isAuthorized">
	<button class="button button-assertive ion-power" ng-click="vm.signout()" type="button" ng-show="isAuthorized"> - {{username}}</button>
	</h2>
    <!-- content goes here -->
	<p>&nbsp;</p>
	<form ng-submit="vm.updateAccount()" ng-show="isAuthorized">
		<div class="list">
			<label class="item item-input">
				<input id="username" name="username" type="email" placeholder="Your email" ng-model="vm.data.user.username" ng-disabled="true">
			</label>
			<label class="item item-input">
				<input id="firstName" name="firstName" type="text" placeholder="First Name" ng-model="vm.data.user.firstName" >
			</label>
			<label class="item item-input">
				<input id="lastName" name="lastName" type="text" placeholder="Last Name" ng-model="vm.data.user.lastName" >
			</label>
		</div>
		<div class="button-bar" >
			<button class="button button-block button-positive" type="submit">
				Save Now
			</button>
		</div>
	</form>

  </ion-content>
</ion-view>
